
<!-- <mat-list-item role="listitem"><a matLine routerLink="/Components">Comp</a></mat-list-item> -->
<mat-card style="height: 47px"><b>PHEONIX</b>
   <i class="fas fa-envelope" style="font-size:24px;color:#D44638;position:absolute;right:140px;"></i> 
  <a href="https://www.facebook.com/phoenixtrust22/?epa=SEARCH_BOX"><i class="fa fa-facebook-f" style="font-size:24px;color:#3b5998;position:absolute;right:115px;text-decoration: none;" ></i></a>
   <a href="https://www.youtube.com/channel/UC1gBW99F9u72g1AYIiXrDYw"><i class="fa fa-youtube-play" style="font-size:24px;color:#c4302b;position:absolute;right:85px;"></i></a> 
  <a class="fa fa-instagram" style="font-size:24px;color:#3f729b;position:absolute;right:55px;"></a> 
 <a href="https://twitter.com/search?q=phoenix_trust22&src=typed_query"><i class="fa fa-twitter" style="font-size:24px;color:#00acee;position:absolute;right:20px;"></i></a> 
</mat-card>   
<mat-card class='header'>
<button mat-button  routerLink="/home"><b>Home</b></button>
<button mat-button routerLink="/about">  <b>About</b></button>
<button mat-button  routerLink="/registration"><b>Join Us</b></button>
<button mat-button  routerLink="/bloodFinder"><b>Blood</b></button>
<button mat-button  routerLink="/report"><b>Report</b></button>
<div *ngIf="isAdmin">
<button mat-button  routerLink="/login"><b>Login</b></button>
<button mat-button  routerLink="/eventUpload"><b>Events</b></button>
<button mat-button  routerLink="/edit"><b>Update</b></button> 
</div>
<!-- <button mat-button  routerLink="/about"><b>Reach Us</b></button> -->

</mat-card>  


<!-- <mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<!-- <mat-menu #belowMenu1="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->


